:javascript
  $(document).ready(function () 
  {
    $('#centeredmenu ul li a').click(function () 
    {
        $("#loading").show();
        $("#centeredmenu ul li a").removeClass('active');
        
        //  Now add class "active" to the selected/clicked tab
        $(this).addClass("active");

        var text = $(this).text();
        text = text.replace(" ","_");
        var type ="type" + "=" + text
        $.ajax(
        {
         data: type,
         url: '/loadPhotos',
         timeout: 20000,
         error: function() 
         {
           console.log("Failed to submit"); // remove when going live
         },//end of error function
         success: function(response) 
         {
           $('#photoContainer').empty();
           $('#photoContainer').html(response);
           $("#loading").hide();
         }
        });//end of ajax call
    });       
  });  
  
%br
%div{:id =>"centeredmenu"}
  %ul
    %li
      %a.active{:href => "/"} In Theaters
    %li
      %a{:href => "#"} Upcoming
    %li
      %a{:href => "#"} Opening
%div{:id =>"movieContainer"}
  %div{:id =>"photoContainer"}
    -@movies.each do |movie|
      .photo
        %a{:href => "/load_tweets/#{movie.movie_id}"}
          %img{:src => movie.img_url}
            .caption
              %p=movie.movie_name
%br
%br
%div{:id => "loading"}
  %img{:src => 'img/ajax-loader.gif'}
